<div class="panel-group" id="accordion">
  <div id="bootstrap-overide" class="panel hidden-sm-up side-nav-panel-body">
    <div class="panel-heading side-nav-panel-heading">
      <a class="twitter-timeline" data-height="519" href="https://twitter.com/tips4myhouse/lists/homes?ref_src=twsrc%5Etfw">A Twitter List by tips4myhouse</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class='table'>
      <iframe src="//www.mortgagecalculator.org/rates-widgets/mortgages/text-widget.php?latest" frameborder="0" style="border: 0; overflow: 0;" scrolling="no"></iframe>
    </div>
  </div>
</div>


<script>
  $('.accordian-toggle').click(function() {
    $('.fa-angle-right').toggleClass('fa-rotate-90');
  });
</script>
