<div class="container-fluid">

  <div class="jumbotron key_picture">
  </div>
  <h1 class="list-title"> 8 Easy Steps to get Started </h1>
   <p class="list-details"> The hardest part I found when buying my house was knowing who to trust. Buying a home is going to be one of the biggest purchases of your life. There will be a few other people who will be making money off this process. This site is here to give you tips without having to worry about if it's in your best interest or the best interest of the person giving the advice. </p>
  <ol>
    <li class="list"> Get your finances in Order</li>
      <p class="list-details"> Get W-2 forms and personal tax returns for past 2 to 3 years.
        Most recent paystubs, bank statements, credit card and loan statements.
        Also get your credit score at <a href="https://www.freecreditreport.com/">Free Credit Report.</a>
        You will need 2 things from this report. Obviously your score but also what debts/payments are on your credit report. This is important to figure out your Debt to Income Ratio.</p>
    <li class="list"> What can I afford? </li>
      <p class="list-details"> A good place to start is by figuring out your future Debt to Income ratio. You will need to find out all debts reported on your credit report and local property taxes. Figuring out what your property taxes will be exactly is a complicated process. You can get a good estimate by going to <a href="https://www.zillow.com">Zillow.</a>
      The debt to income ratio is all reported debts, your future mortgage payments, property taxes and home owners insurance. The sum of all of this divided by your gross income. In general, 43% is the highest DTI a borrower can have and still get qualified for a mortgage. <a href = "http://www.investopedia.com/terms/d/dti.asp#ixzz4pkkj0EF1">Read more about Debt-To-Income Ratio (DTI)</a>
      </p>
    <li class="list"> Get a pre-approval letter</li>
      <p class="list-details"> Now that you know your DTI go to any bank to get a pre approval letter. Where it's from is not very important yet because most of the time you will officially get your mortgage after the offer has been accepted. Each bank and mortgage have different features that are best of you. Right now you just need the pre approval to start to search for you house. Real estate agents and home owners selling the house want this to know you meet the minimum requirements for getting a mortgage. </p>
    <li class="list"> Find a real estate agent </li>
      <p class="list-details"> Find someone who knows the area. Your agent they will be responsible for finding the house, knowing if your offer is inline with the market, information about the area of the town of your house such as schools, taxes etc. Most of the time you don't have to pay them anything. The sellers will pay your agents commission from the sale of the house. I found this person is someone you need to trust the most in this process.
      My agent was great. <a href="https://www.zillow.com/profile/hectorvcastillo/">Link to Hector</a></p>
    <li class="list"> Find a lawyer and make an offer </li>
     <p class="list-details"> The highest offer isn't the only consideration when deciding who to seller wants to sell their house to. Amount of down payment, when the new owners want to move in are just a few other things they will think about. Talk to your agent to figure out a good offer. Also when picking a lawyer, price shouldn't be your only consideration. You want someone who specializes in real estate and who will get back to you in a timely manner. There will always be issues in finalizing the sale and you want someone who will get back to you within 24 hours to take care of any problems.</p>
    <li class="list"> Get the mortgage </li>
      <p class="list-details"> Now that the offer has been accepted it's time to get the mortgage. Consider fees, mortgage rate, as well as type of mortgage. </p>
    <li class="list"> Appraisal and inspection </li>
        <p class="list-details"> We are in the final stretch. Get a home inspection and termite inspection. The termite inspection is pretty obvious but the home inspector will go over all of the details of the house such as checking the oil tank, the roof and such. After the inspection
          you can talk to the sellers to fix the issues or possibly re negotiate the purchase price. The bank will also want an appraisal for a professional to determine the value of your home.</p>
    <li class="list"> Close the deal </li>
      <p class="list-details">
        Get your pen ready because you will be signing your name a ton of times. The final payment and keys should be exchanged that this meeting. Congrats and good luck!!!
      </p>
  </ol>
</div>
