<div class="container">
  <div class="row">
    <div class="media ml-3">
      <div class="media-body">
      <% if Entry.all.count.zero? %>
          <h4>No Entries Exist</h4>
      <% else %>
        <h4>All Entries</h4>
      <% end %>
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          
          <tbody>
            <% @entries.each do |entry| %>
              <tr>
                <td><strong><%= "#{entry.lastname.capitalize}, #{entry.firstname.capitalize}" %><strong></td>
                <td>     </td>
                <td><%= link_to 'Show', entry_url(entry),
                      class: 'btn btn-outline-info' %></td>
                <td><%= link_to 'Edit', edit_entry_path(entry),
                      class: 'btn btn-outline-primary' %></td>
                <td><%= link_to 'Delete', entry_url(entry),
                      class: 'btn btn-outline-danger',
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
