 <div class="container"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/welcome/index">Welcome to MyAddressBook!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <%= link_to "Main", welcome_index_url, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "View all entries", entries_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Add Entry", new_entry_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</div>
